/* ==========================================================================
Preloader Style
========================================================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #24242a;
}
.preloader i {
    color: #fff;
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}
body {
    background-image: url("../img/bg.JPG");
    background-position: center;
    background-color: #cccccc;
}

.circleImg {
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    opacity: 1.0;
    background: #E6E7ED;
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    background-image: url("../img/kevin.JPG");
    background-position:50% 50%;
    background-size: cover;
    background-repeat:no-repeat;
}
#fullWrapper{
    background-color: rgba(245, 245, 245, 0.9);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p, div {
    font-family: 'Montserrat', sans-serif;
}
